{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br /><center><h1> Bienvenue sur notre site</h1></center><br />
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-4"><img class="" src="https://cdn.pixabay.com/photo/2021/08/29/13/19/kingfisher-6583229_960_720.jpg"></div>
            <div class="col-lg-4"><img class="" src="https://www.bioalaune.com/img/userfiles/2018/actualites-media/foret%20de%20fontainebleau.jpg"></div>
            <div class="col-lg-4"><img class="" src="https://www.lescarnetsdesophie.fr/wp-content/uploads/2019/08/professionnel-photographe-1024x682.jpg"></div>
        </div>
    </br />
        <div class="row">
                <div class="col-md-6"><img class="" src="https://pixnio.com/free-images/2017/03/09/2017-03-09-09-39-11-900x603.jpg"></div>
                <div class="col-md-6"><img class="" src="https://cdn.pixabay.com/photo/2019/11/26/18/19/bw-photo-4655128_960_720.jpg"></div>
        </div>
    <br />
        <div class="row">
            <center><p class="lead">Un peux à propos de moi.</p></center>
            <center><button type="button" onclick="window.location.href='/presentation';" class="btn btn-info" >Info<href="/Présentation"></button></center>
        </div>
    </div>
</div>
{% endblock %}