{% extends 'base.html.twig' %}

{% form_theme formPresta 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une prestation !</h1>

    {{ form_start(formPresta) }}
    
    {{ form_widget(formPresta) }}
    <br>
    <button type="submit" class="btn btn-success">Ajouter la prestation</button>

    {{ form_end(formPresta) }}

{% endblock %}
