{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <section class="articles">
                <h2>Titre de la prestation n째1</h2>
                <div class="content">
                    <img src="http://placehold.it/350x150">
                    <p>PARAGRAPHE DE LA PRESTATION</p>
                    <p>dzd hqzbdjkzqbdjzqbkfbzqf</p>
                    <a href="{{ path('prestation_show') }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </div>
        <div class="col-lg-5">
            <section class="articles">
                <h2>Titre de la prestation n째2</h2>
                <div class="content">
                    <img src="http://placehold.it/350x150">
                    <p>PARAGRAPHE DE LA PRESTATION</p>
                    <p>dzd hqzbdjkzqbdjzqbkfbzqf</p>
                    <a href="{{ path('prestation_show') }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </div>
        <div class="col-lg-5">
            <section class="articles">
                <h2>Titre de la prestation n째3</h2>
                <div class="content">
                    <img src="http://placehold.it/350x150">
                    <p>PARAGRAPHE DE LA PRESTATION</p>
                    <p>dzd hqzbdjkzqbdjzqbkfbzqf</p>
                    <a href="{{ path('prestation_show') }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </div>
        <div class="col-lg-5">
            <section class="articles">
                <h2>Titre de la prestation n째4</h2>
                <div class="content">
                    <img src="http://placehold.it/350x150">
                    <p>PARAGRAPHE DE LA PRESTATION</p>
                    <p>dzd hqzbdjkzqbdjzqbkfbzqf</p>
                    <a href="{{ path('prestation_show') }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}