{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}


{% block body %}
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                <a class="nav-link" href="/prestation/create">Ajouter une prestation</a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="/prestation/supp">Supprimer une prestation</a>
                </li>
               
            </ul>
            </div>
        </div>
        </nav>
       
    </body>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <section class="prestas">
                {% for presta in prestas %}

                <h2>{{ presta.titre }}</h2>
                <div class="content">
                    <img src="{{ presta.description }}">
                    {{ presta.image }}
                    <a href="{{ path('prestation_show') }}" class="btn btn-primary">Lire la suite</a>
                </div>
                {% endfor %}
            </section>
        </div>
        
</div>

{% endblock %}