{% extends 'base.html.twig' %}

{% block body %}


        <section class="articles">
            <h2>{{ article.title }}</h2>
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    {{ article.description }}
                </div>
        </section>

<form method="get" action="/prestation">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>

{% endblock %}