{% extends 'base.html.twig' %}

{% block body %}


<section class="Presta">
    <h2>Titre de la prestation</h2>
    <div class="content">
        <img src="http://placehold.it/350x150">
        <p>desdcvriptiozdzdzn zdqzdzqgbduzqdiuzqd  zqdbzqudzuqiduzqigbdiuzqd.</p>
        <p>desdcvriptiozdzdzn zdqzdzqgbduzqdiuzqd  zqdbzqudzuqiduzqigbdiuzqd.</p>
        <p>desdcvriptiozdzdzn zdqzdzqgbduzqdiuzqd  zqdbzqudzuqiduzqigbdiuzqd.</p>
    </div>
</section>

<form method="get" action="/prestation">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>

{% endblock %}